{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block page_title %}{% endblock %} | Dev Scoop</title>
</head>
<body class="bg-secondary bg-opacity-10">
  <nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top border-bottom border-secondary p-1">
    <div class="container-fluid mx-3">
      <a class="navbar-brand" href="/">
          DevScoop
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navmenu">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navmenu">
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="navbar-brand" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="{% url 'news:latest' %}">Latest</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="{% url 'news:latest' %}?item_type=story">Stories</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="{% url 'news:latest' %}?item_type=job">Jobs</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="{% url 'news:latest' %}?item_type=poll">Polls</a>
              </li>
          </ul>
      </div>
    </div> 
  </nav>
    <div class="mt-5 text-black" style="padding-top: 20px;">
      {% block content %}{% endblock %}
    </div>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>